


            nav ul{
        list-style: none;
        display:flex;
        justify-content:center;
            

        }
        
        nav ul img{
                position: relative;
                right:450px;


        } 

        


        nav ul li{
        margin:15px;
       


        }

        #green{
                color:white;
                background-color:black;
                border-radius:8px;
                border:2px solid black;
                position: relative;
                left: 300px;
                top:2px;
                width:150px;
                height: 40px;
               
                
                

        }

        #green:hover{
                background-color: teal;
                 



        }
 
 

       
        #my-image .banner-image .bg{ 

           /* border:2px solid red; */
              width:1600px;
              height:800px;
              margin-top: 150px;

               
        }.banner-image .my-image{
                margin-top: 250px;




        }

/* 
 
        #banner .banner-image .bg{

                width: 1600px;
                height:100px;
                background-attachment: fixed;
                
        
        } */

        #banner{

                position:relative;



        }

        #banner{

                position:absolute;
                 margin-top:280px;
                margin-left:550px;
               
                




        }

        .auto .btn1 .btn2{
                margin: 0 auto;

               
                




        }

        .banner-image{
                background-repeat: no-repeat;
                background-attachment: fixed;
                 





        }








        
         #banner .banner-content .center{
                /* abc */
                margin-top:180px;
                margin-bottom:-160px;
                width: 150px;
                height: 20px;
                /* display: flex;
                justify-content: center; */
                background-color:teal;
                color:black;
                border: 2px solid red;
                border-radius:15px;
                padding: 2px;
                

        } 

        
        #banner .banner-content h1{
                margin-bottom:-50px;
                margin-top:180px;
                color:black;
                font-size: 60px;
                


        }
         


        #banner .banner-content h2{
                 
                margin-bottom:-10px;
                color:green;
                font-weight: bold;
                font-size: 60px;
              


        }

        #banner .center:hover{
                background-color: crimson;
              


        }

         p.center{
                border-radius:15px;
                margin: 0 auto;
                padding: 5px;
                background-color: aqua;
                color:green;
                width:150px;
                border: 2px solid orange;
                /* background-image: radial-gradient(circle at left top ,green,red); */
                
               


        }

                 .btn1{


                text-align:left; 
                background-color: orangered;
                color:white;
                font-size:12px;
                padding:8px;
                border:2px solid black;
                border-radius: 6px;
                height:35px; 
                width:190px;
                cursor:pointer;
                 margin-left:80px;
                margin-bottom:10px;
               
                 
                
                 }

                 .btn1:hover{
                  background-color: black;
                  color:green;


                 }
                 
                 

                 
        
               .auto .right{
                margin-left:50px;
                
                
                
                }
 


 

                .btn2{

           
                margin-left: 10px;
                margin-top: 10px;
                 margin-bottom: 10px;
                background-color: orangered;
                color:white;
                font-size:12px;
                padding:3px;
                border:2px solid black;
                border-radius: 6px;
                height:35px; 
                width:180px;
                cursor:pointer; 
                text-align: center;
               
                 }
                 
                 
                 .btn2:hover{
                        background-color: seagreen;




                 }

                #banner .banner-content .center,h1,h2,p{
                        
                        display:flex;
                        justify-content: center;
                         
                         
                        
        
        
                }


                .banner-content .center .auto .btn1 .btn2{
                        margin-top: 500px;
                     
                 }
                
                #banner.title{ 
                margin:0 auto;
                         

                }

                
                
 



                #card{

                      
                         
                        display: flex;
                        justify-content: center;
                        justify-content:space-between;
                        margin-right: 180px;  
                        margin-bottom: 100px;
                        margin-left: 220px;
                        margin-top: 40px;
                      




                }


                .card1 .card2 .card3 .card4,h1{
                        margin-top: 150px; 
                      

                      
                        
                       




                }
 


               #card .card1 .card2 .card3 .card4{
                        margin-top: 150px;
                    
                         




                }
 


                h5{

                         text-align: center;
                         padding: 5px;



                }

                 
                        




                

                .card1{

                        position: relative;
                         

                       


                }



                .card1{
                
                    
                       
                        width:250px;
                        height: 260px;
                        background-color: palegreen;
                        border:1px solid red;
                        border-radius:12px;
                        box-shadow:5px 10px 15px orangered;





                } 


                

                .card2{

                        width:250px;
                        height: 260px;
                        background-color:palegreen;
                        border:1px solid red;
                         border-radius:12px;
                        box-shadow:5px 10px 15px  orangered;





                } 


                

                .card3{

                        width:250px;
                        height: 260px;
                        background-color:palegreen;
                        border:1px solid red;
                         border-radius:12px;
                         box-shadow:5px 10px 15px orangered;





                } 


                

                .card4{

                        width:250px;
                        height: 260px;
                        background-color: palegreen;
                        border:1px solid red;
                        border-radius:12px;
                        box-shadow:5px 10px 15px orangered;





                } 
 
 






                

                .style ul li{
                        list-style-type: none;
                      
                      
                     


                
                
                
                }
 
 



                ul li{

                        margin-left: 800px;
                        
                        
                      


                }



                .footer{
                        width: 1500px;
                        height:300px;
                        background-color: bisque;
                         border: 1px solid black;
                         border-radius: 30px;
                         margin-left: 25px;
                         margin-right: 25px;
                         margin-top: 150px;
                         
                        


                }
                

                 .footer .font{
                        margin-top: 50px;
                        font-size: 30px;
                        
                        
                        



                }
                
 
                        

                 

                #access{
                margin-left: 10px;
                margin-top: 10px;
                 margin-bottom: 10px;
                background-color: green;
                color:white;
                font-size:12px;
                padding:3px;
                border:2px solid black;
                border-radius: 6px;
                height:35px; 
                width:180px;
                cursor:pointer; 
                text-align: center;



                }

                .down{
                        margin-left: 700px;


                }
 

                 
  
                     


                
                
                
                

 
 
 
 

 



                
 

                
                
                
             
                

                


        
 

 